
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 350 100% 95%; /* Soft pastel pink */
    --foreground: 222.2 84% 4.9%;

    --card: 350 100% 98%; /* Light pastel pink for cards */
    --card-foreground: 222.2 84% 4.9%;

    --popover: 350 100% 98%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 350 70% 50%; /* Slightly darker pink for buttons */
    --primary-foreground: 210 40% 98%;
  }
  body {
    background-color: hsl(var(--background));
  }
}


.font-serif {
  font-family: "Playfair Display", serif;
}
